<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<conn>server=DESKTOP-EQ55Q8H;database=Retail2020DB;uid=sa;pwd=anymouse786</conn>
		<BrandName>XEPOS Retail 2024</BrandName>
		<ShortBrandName>XEPOS Retail 2024</ShortBrandName>
		<PrintPageAdjustment>0</PrintPageAdjustment>
		<BookersStartUpDirectory>C:\Users\matri\OneDrive\Documents\Bookers</BookersStartUpDirectory>
		<Theme>Light</Theme>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Input.Stylus.EnablePointerSupport=true" />

		<!-- Assembly Binding Redirects for DevExpress -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- DevExpress Assemblies -->
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraCharts.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraReports.v24.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-24.1.3.0" newVersion="24.1.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<userSettings>
		<DXThemeManager>
			<setting name="ApplicationThemeName" serializeAs="String">
				<value>Office2016White</value>
			</setting>
		</DXThemeManager>
	</userSettings>
</configuration>
